{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login/Logout Page</title>
  </head>

{% block content %}
  <body>
    
    {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}!</p>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
      </form>
      
      <a href="{% url 'logout'%}"></a>
    {% else %}


      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      
      <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
      </form>
    {% endif %}
  </body>

  {% endblock content %}
</html>

