{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty Shop</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <h2 class="product-name">{{ product.product_name }}</h2>
    <div class="image-container">
      {% for image in more_images %}
        <div class="image">
          <img src="{{ image.more_images.url }}" alt="{{ product.product_name }}">
          <div class="caption-container">
            <p class="caption">{{ image.caption }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
